
/*header*/
#header-nav {
	
background-color: grey;
font-weight: bold;
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.navbar-nav{
	background-color: cyan;
	text-decoration-color: grey;
	border-radius: 5px;
	}
	.navbar-nav li{

	margin-bottom:8px;
}

.container-fluid>h3 {
	
	text-align: center;
}
.container-fluid {
	background-color: grey;
	margin:15px;
}